<section id="one">
	<header class="major">
		<h2>Publications</h2>
	</header>
</section>
<section id="two">
	<h3>Research papers</h3>
	<div style="margin-left:20px" ng-repeat="publication in publicationsCtrl.getAllPublications() | orderBy:year:true">
		<p>
			<span ng-bind-html="publicationsCtrl.formatPublication(publication)"></span>
		</p>
	</div>

	<h3>Conference contributions</h3>
	<div style="margin-left:20px" ng-repeat="talk in publicationsCtrl.getAllTalks() | orderBy:year">
		<p>
			<span ng-bind-html="publicationsCtrl.formatTalk(talk)"></span>
		</p>
	</div>


</section>
